body {
  width: 100%;
  height: 100vh;
  background-image: url("background.jpg");
  background-size: cover;
  font-family: 'Times New Roman', Times, serif;
}

header {
  background-color:#F4E6D1;
  text-align: center;
  padding: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 15px;
}

nav a {
  color: #6A7F3D;
  align-items: center;
  text-decoration: none;
 
}

nav a i {
  width: 40px;
  height: 40px;
}

nav a:hover {
  color:#8A9E58;
}

.bottom-line {
  border-bottom: 6px solid #6A7F3D;
}

.conteudo {
  text-align: center;
  margin-top: 50px;
}

.quadrado {
  background-color: #F4E6D1;
  width: 90%;
  height: auto;
  padding: 20px;
  margin: 0 auto;
  border-radius: 50px;
}

.quadrado h1 {
  font-size: 40px;
  color:#6A7F3D;
}

.quadrado ul {
  text-align: left;
  font-size: 20px;
  color: #6A7F3D;
}

.quadrado ul a {
  list-style: none;
  text-decoration: none;
  font-size: 20px;
  color: #6A7F3D;
}

.quadrado ul a:hover {
  color:#8A9E58;
}

@media (max-width: 768px) {
  nav ul {
    justify-content: space-around;
  }
  
  nav a {
    font-size: 18px;  
    padding: 10px 20px;  
  }
}
