body {
    margin: 0;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    min-height: 100vh;
    width: 100%;
}

#menu {
    background-color: white;
    color: darkblue;
    display: flex;
    align-items: center;
    height: 40%;
    padding: 20px;
    margin: 10px 10px;
    gap: 30px;

    animation-name: cores;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.menu-2 {
    text-align: center;
    margin: 10px 10px;
    gap: 30px;
}

@keyframes cores {
    0% {color: darkblue; left:0px; top:0px;}
    25% {color: lightblue; left:200px; top:0px;}
    50% {color: darkgoldenrod; left:200px; top:200px;}
    75% {color: darkred; left:0px; top:200px;}
    }
    

#menu-img {
    width: 90px;
    height: 90px;
    margin-right: 25px;
    margin-left: 25px;
    border-radius: 50%;
}

#linha-azul {
    background-color: darkblue;
}

#escrita-branco {
    color: white;
}

#escrita-vermelho {
    color: darkred;
    font-size: x-large;
}

#header-line {
    border-bottom: 2px solid white;  
}

#tabela {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

    color: darkblue;
    padding: 10px;
}

.aparece {
    display: block;
}

#linha-azul-bebe {
    background-color: lightblue;
}

#footer {
    background-color: darkblue;
    text-align: center;
}

#aviao-esquerda {
    animation-name: rotacionar-esquerda-andar;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#aviao-direita {
    animation-name: rotacionar-direita-andar;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes rotacionar-esquerda-andar {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-90deg); 
    }
    100% {
       transform: translateX(100vw); 
    }
}

@keyframes rotacionar-direita-andar {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(90deg);
    }
    100% {
        transform: translatex(-100vw); 
    }
}

@media (max-width: 800px) {
    body{
        font-size: small;
    }

    #menu {
        font-size: smaller;
    }

    #menu-img {
        width: 70px;
        height: 70px;
        margin-right: 10px;
        margin-left: 10px;
        border-radius: 50%;
    }
    
    #tabela {
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }

    .aparece {
        display: none;
    }
}
